<!-- component -->
<div class="bg-black flex min-h-screen flex-col items-center pt-16 sm:justify-center sm:pt-0">
    <a href="#">
        <div class="text-white font-semibold text-2xl tracking-tighter mx-auto flex items-center gap-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
                </svg>
            </div>
        </div>
    </a>
    <div class="relative mt-12 w-full max-w-lg sm:mt-10">
        <div class="relative -mb-px h-px w-full bg-gradient-to-r from-transparent via-sky-300 to-transparent"></div>
        <div
            class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none">
            <div class="flex flex-col p-6">
                <h3 class="text-xl font-semibold leading-6 tracking-tighter text-white text-center">Register</h3>
                <p class="mt-1.5 text-sm font-medium text-white/50 text-center">Welcome, enter your credentials to continue.
                </p>
            </div>
           
            <div class="p-6 pt-0">
                <form enctype="multipart/form-data" [formGroup]="formData" (ngSubmit)="register()" >
                    <div>
                        <div
                            class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                            <div class="flex justify-between">
                                <label
                                    class="text-xs font-medium text-gray-400 group-focus-within:text-white">Username</label>
                            </div>
                            <input type="text" name="username" 
                                autocomplete="off" formControlName="name"
                                class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 text-white placeholder:text-gray-400 focus:outline-none focus:ring-0 sm:leading-7">
                                <div *ngIf="formData.get('name')?.invalid && formData.get('name')?.touched" class="text-red-500 text-xs mt-1">
                                    Name is required
                                  </div>
                            </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-gray-400 group-focus-within:text-white">Email</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="email" name="email" formControlName="email"
                                        class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 text-white placeholder:text-gray-400 focus:outline-none focus:ring-0 sm:leading-7">
                                        <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched" class="text-red-500 text-xs mt-1">
                                            Please enter a valid email
                                          </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-gray-400 group-focus-within:text-white">Password</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="password" name="password" formControlName="password"
                                        class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 text-white placeholder:text-gray-400 focus:outline-none focus:ring-0 sm:leading-7">
                                        <div *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched" class="text-red-500 text-xs mt-1">
                                            Password must be at least 6 characters long
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-gray-400 group-focus-within:text-white">Confirm Password</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="password" name="confirm-password" formControlName="confirmPassword"
                                        class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 text-white placeholder:text-gray-400 focus:outline-none focus:ring-0 sm:leading-7">
                                        <div *ngIf="formData.hasError('mismatch') && formData.get('confirmPassword')?.touched" class="text-red-500 text-xs mt-1">
                                            Passwords do not match
                                          </div>  
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-gray-400 group-focus-within:text-white">Image</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="file" name="profile-image" (change)="onFileSelected($event)"
                                      class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 text-white placeholder:text-gray-400 focus:outline-none focus:ring-0 sm:leading-7">
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 flex items-center justify-between">
                        <label class="flex items-center gap-2">
                            <input type="checkbox" name="remember"
                                class="outline-none focus:outline focus:outline-sky-300">
                            <span class="text-xs text-white">Remember me</span>
                        </label>
                        <!-- <a class="text-sm font-medium text-white underline" href="/forgot-password">Forgot
                            password?</a> -->
                    </div>
                    <div class="mt-4 flex items-center justify-end gap-x-2">
                        <a class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:ring hover:ring-white h-10 px-4 py-2 duration-200 text-white"
                            href="/login">login</a>
                        <button
                            class="font-semibold hover:bg-black hover:text-white hover:ring hover:ring-white transition duration-300 inline-flex items-center justify-center rounded-md text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-black h-10 px-4 py-2"
                            type="submit" [disabled]="formData.invalid">register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
